<!DOCTYPE html>
<html>
	<head>
	  <title>Yenarails</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>

	<body>

		<%= render 'layouts/header' %>
		
		<div class="container-fluid">
		  
		  <% flash.each do |name, msg| %>
		  	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		  <% end %>

		  <div class="row-fluid">
		    <div class="span2">
		      <!--Sidebar content-->
		    </div>
		    <div class="span10">
		      <!--Body content-->
		    </div>
				<%= yield %>




				<%= render 'layouts/footer' %>

		  </div>
		</div>

	


	</body>
</html>
